name: External Tests
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pyuvsim:
    name: pyuvsim
    runs-on: ubuntu-latest
    defaults:
      run:
        # Adding -l {0} helps ensure conda can be found properly.
        shell: bash -l {0}
    env:
      ENV_NAME: pyuvsim_tests_openmpi
      PYTHON: "3.12"

    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: clone pyuvsim
        run: |
          cd ../
          git clone https://github.com/RadioAstronomySoftwareGroup/pyuvsim.git
          cd pyradiosky

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          python-version: ${{ env.PYTHON }}
          environment-file: ../pyuvsim/ci/${{ env.ENV_NAME }}.yaml
          activate-environment: ${{ env.ENV_NAME }}

      - name: Conda Info
        run: |
          conda info -a
          conda list
          PYVER=`python -c "import sys; print('{:d}.{:d}'.format(sys.version_info.major, sys.version_info.minor))"`
          if [[ $PYVER != ${{ env.PYTHON }} ]]; then
            exit 1;
          fi

      - name: run pyuvsim tests
        run: |
          pip install --no-deps .
          cd ../
          cd pyuvsim
          pip install --no-deps .
          mkdir test-reports
          python -m pytest --junitxml=test-reports/xunit.xml
